# NextAuth Configuration
NEXTAUTH_SECRET=khalfan-portfolio-admin-secret-2026
NEXTAUTH_URL=https://portfolio-admin-self.vercel.app

# Django REST Framework Backend API URL (must include https:// in production)
NEXT_PUBLIC_API_URL=https://api.khalfanathman.dev

# Public Portfolio URL
NEXT_PUBLIC_PORTFOLIO_URL=https://www.khalfanathman.dev
